body{
	font-family: "arial";
}

h1 p{
	text-align: center;
	font-family: Helvetica;	
}
p{
	text-align: left;
}

h5{
	text-align: center;
} 
 
#link{ 
	text-decoration:none;
	color:black;
}
  
body{	
	
	margin-top:5em;
	margin-right:5em;
	margin-bottom:5em;
	margin-left:5em;
	border-color:black;
	border-style:solid;
	border-width:5px;
	position:absolute;
	right:85px;
	left: 85px;
	margin: 1em 2em 3em 4em; 
	padding-top: 2em;
	padding-right: 3em;
	padding-bottom:4em;
	padding-left:3em;
	background-image: url(papel2.jpg);
	
}

footer{
	text-align: right;
}

